
.whole-overworld::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    animation: colorChange 10s infinite linear;
  }

  @keyframes colorChange {
    0%   { background-color: rgba(0, 0, 0, 0); }
    25%  { background-color: rgba(255, 255, 0, 0.3); }
    50%  { background-color: rgba(255, 165, 0, 0.3); }
    75%  { background-color: rgba(0, 0, 128, 0.3); }
    100% { background-color: rgba(0, 0, 0, 0); }
  }



  .title-rogo {
    position: relative; /* z-indexが機能するようにするために追加 */
    z-index: 1;
}


.position {
    position: relative; /* z-indexが機能するようにするために追加 */
    z-index: 1;
}






